a{
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  font-family: 'Amaranth', sans-serif;
}

body{
  font-family: 'Open Sans', sans-serif;
}
.navbar{
  border-bottom: 1px solid #d3d3d3 ;
}
.nav-btn{
  margin-right: 6px;
    margin-top: 3px;
}

.list-group-item {
  line-height: 2.5;
}

#home-login-button:hover{
  color:white;
  background: #e67d22;
  border-color: #ce782c;
}

#welcome-message{
  font-size: 1rem;
  margin-top:7px;
  margin-left:10px;
}
#view-recipe-button{
  color: white;
  background: #932c22;
  border-color: #7e2017;
}

#view-recipe-button:hover{
  color: white;
  background: #d35045;
  border-color: #d34a3d;
}

#view-all-button{
  color:#932c22;
  background: white;
  border-color: #932c22;
}
#view-all-button:hover{
  color:white;
  background:#932c22;
  border-color: #932c22;
}

#breadcrumb{
  color:#e67d22;
}

.hero-image{
  height:50vh; 
  background: url(/images/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.recipe-header{
  height:50vh; 
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

#hero-title{
  font-size: calc(5vw + 3.5vh);
  text-shadow: 2px 2px 4px #000000;
  font-family: 'Amaranth', sans-serif;
}

#hero-recipe-title{
  font-size: calc(4vw + 2.5vh);
  text-shadow: 2px 2px 4px #000000;
}

#hero-subtitle{
  font-size: calc(1.2vw + 1.2vh);
  line-height: 1;
  text-shadow: 2px 2px 4px #000000;
}

.card:hover{
  box-shadow: 3px 5px 10px #888888;
}

#copyright{
  background: rgb(48, 47, 47);
}

#recipe-image{
  max-height:300px;
  width:100%;
  object-fit: cover; 
}

#all-recipe-img{
  object-fit:cover;
  max-width: 500px;
  max-height:333px;
  width: auto;
  height: auto;
}

/* --------- Login --- */
.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background: rgb(231, 231, 231);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}
/*--- End Login --*/ 

@media (min-width: 768px) {
  .navbar-brand.abs
      {
          position: absolute;
          width: 100%;
          left: 0;
          text-align: center;
      }
  }
  